*.svn*
.deps
.project
.cproject
config.log
config.nice
config.status
config.h
autom4te.cache
/nbproject/*
/phrasea_engine/.libs/
/.libs/
/autom4te.cache/
*.ncb
/_WIN32 (visual C++ 2008)/Release_TS_UTF-8_debug/
*.vcproj.*.user
*.obj
*.intermediate.manifest
*.dep
*.idb
*.res
BuildLog.htm
*.exp
*.lib
/Makefile
/Makefile.fragments
/Makefile.objects
/Makefile.global
/config.m4-20120528-2
/config.m4-20120528
/config.h
/config.log
/config.nice
/config.status
/rmake.txt
/run-tests.php
/libtool
*.lo
modules
phrasea2.so
phrasea2.la