*.svn*
.deps
.project
.cproject
config.log
config.nice
config.status
config.h
autom4te.cache
/nbproject/*
/phrasea_engine/.libs/
/.libs/
autom4te.cache/*
/_WIN32 (visual C++ 2008)/Phraseanet-Extension.ncb
/_WIN32 (visual C++ 2008)/Release_TS_UTF-8_debug/
/_WIN32 (visual C++ 2008)/Phraseanet-Extension.vcproj.*.user
/_WIN32 (visual C++ 2008)/Release_TS_UTF-8/*.obj
/_WIN32 (visual C++ 2008)/Release_TS_UTF-8/*.intermediate.manifest
/_WIN32 (visual C++ 2008)/Release_TS_UTF-8/mt.dep
/_WIN32 (visual C++ 2008)/Release_TS_UTF-8/vc90.idb
/_WIN32 (visual C++ 2008)/Release_TS_UTF-8/phrasea2.res
/_WIN32 (visual C++ 2008)/Release_TS_UTF-8/BuildLog.htm
/_WIN32 (visual C++ 2008)/Release_TS_UTF-8/php_phrasea2.exp
/_WIN32 (visual C++ 2008)/Release_TS_UTF-8/php_phrasea2.lib
/Makefile
/Makefile.fragments
/Makefile.objects
/Makefile.global
/config.m4-20120528-2
/config.m4-20120528
/config.h
/config.log
/config.nice
/config.status
/rmake.txt
/libtool
